<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding
             id="body">
<br>
  <br>
  <br>
  <br>
  <br>
  <img  id="img" class="circle-pic"src="./assets/imgs/hala.png" alt="Avatar" style="width:200px">
      <p class ="hd" style="color: #9ACD32;">Register with Transnet Visitor Management App</p>
      <br>
    <ion-list>
      <div *ngIf="!upload">
          <ion-item>
              <ion-label>Tittle</ion-label>
              <ion-select  name="title"[(ngModel)]="Admin.title">
                <ion-option value="Mr">Mr</ion-option>/
                <ion-option value="Mrs">Mrs</ion-option>
                <ion-option value="Miss">Miss</ion-option>
              </ion-select>
            </ion-item>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input  type="text"[(ngModel)]="Admin.name" name="username"></ion-input>
        </ion-item>
          <ion-item>
          <ion-label>Surname</ion-label>
          <ion-input type="text" [(ngModel)]="Admin.surname"name="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>ID Type</ion-label>
            <ion-select  name="options"[(ngModel)]="Admin.identityType" cancelText="Cancel" okText="Ok">
        
              <ion-option value="ID" selected="true">ID</ion-option>
              <ion-option value="Passport">Passport</ion-option>
              <ion-option value="License">License</ion-option>
            </ion-select>
          </ion-item>
        <ion-item>
          
            <ion-label>ID/Passport/License</ion-label>
            <ion-input type="text" [(ngModel)]="Admin.idNumber"name="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Mobile No</ion-label>
              <ion-input type="number" maxlength="10" [(ngModel)]="Admin.phonenumber"name="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" [(ngModel)]="Admin.email"name="password"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Required</ion-label>
                  <ion-select [(ngModel)]="data" name="options"(ionChange)="show($event)" multiple="true" cancelText="Cancel" okText="Ok">
              
                    <ion-option name="options" value="i">Wifi</ion-option>
                    <ion-option  name="options"value="p" >Parking</ion-option>
                    <ion-option name="options"value="w">Wheel Chair Needs</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="showme">
                <ion-item>
              
                    <ion-label>Car Reg</ion-label>
                    <ion-input type="text" [(ngModel)]="Admin.registration"name="password"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label>Car Model</ion-label>
                      <ion-input type="text" [(ngModel)]="Admin.model"name="password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Car Make</ion-label>
                        <ion-input type="text" [(ngModel)]="Admin.make"name="password"></ion-input>
                      </ion-item>
                    </div>
                    <ion-item>
                        <ion-label>Company</ion-label>
                        <ion-input type="text" [(ngModel)]="Admin.company"name="password"></ion-input>
                      </ion-item>
                
                  <br>
                  <br>
                    <button ion-button  (click)="registerMe()"color="danger" width="50px">Register</button>
                    <button ion-button  (click)="Clearme()"color="danger" width="50px">Reset</button>
                  </div>
                    <div *ngIf="upload">
                      <ion-item>
                        <ion-row>
                          <ion-col col-6>
                            <button ion-button color="danger" type="button" full round large (click)="takePhoto()">
                              <ion-icon name="camera"></ion-icon>
                            </button>
                          </ion-col>
                          <ion-col col-6>
                            <button ion-button color="secondary" type="button" full round large (click)="selectPhoto()">
                              <ion-icon name="image"></ion-icon>
                            </button>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                      <ion-item *ngIf="error">
                        <strong>{{error}}</strong>
                      </ion-item>
                      <ion-item>
                        <img *ngIf="myPhoto" class="img-responsive" [src]="myPhoto"/>
                      </ion-item>
                  </div>

    </ion-list>
   

</ion-content>
