page-menu {
  #body {
    //background-image: url("../../assets/imgs/wall.jpg");
    //background-image: url("…/assets/imgs/wall.jpg");
    //background-image: url(../assets/imgs/tnet.jpg);
    background-color: #D5D2D2;
    background-size: cover;
    background-repeat:no-repeat;

    width:100%;
  }
  #p{


    font-size: 50px;

  }
hd{
  font-size: 50px;
  color: #9ACD32;
}
  
  #image {
  
     // border-radius: 50%;
     background-image: url(../assets/imgs/hala.png);
  }
  
  .circle-pic{
    top: 30px;
      margin-bottom: 40px;
     margin-left: 110px;
  }

}
